---
import { renderNode } from "../lib/contentful";
import type { TreeNode } from "../lib/contentful";
interface Props {
    tree: TreeNode[]
}
const { tree } = Astro.props;
---
<ul class="menu bg-zinc-700 text-white min-w-72 rounded-lg mt-1 mr-1 mb-2 ml-2">
    <li><a href="/">Dashboard</a></li>
    {tree.map(node => <Fragment set:html={renderNode(node)} />)}
</ul>