---
import BaseLayout from "../layouts/baseLayout.astro";
import Header from "../components/header.astro";
import Navigation from "../components/navigation.astro";
import Login from "../components/login.astro";
import { getSession } from "auth-astro/server";
import { getNavigationTree } from "../lib/contentful.ts";

const whistlistedEmails = import.meta.env.WHISTLISTED_EMAILS.split(",");
const session = await getSession(Astro.request);
const tree = await getNavigationTree();
---
<BaseLayout>
	{
		(session !== null && whistlistedEmails.includes(session?.user?.email)) ? (
			<Header transition:persist />
			<section class="flex flex-auto overflow-auto">
				<aside class="flex" transition:persist="navigation">
					<Navigation tree={tree}/>
				</aside>
				<section class="flex flex-auto" transition:animate="slide">
					<slot />
				</section>
			</section>
		) : (
			<Login />
		)
	}
</BaseLayout>