---
import Base from "../layouts/base.astro";
import Header from "../components/header.astro";
import Navigation from "../components/navigation.astro";
import Login from "../components/login.astro";
import { getSession } from "auth-astro/server";
import "../styles/custom.css";

const whistlistedEmails = import.meta.env.WHISTLISTED_EMAILS.split(",");
const session = await getSession(Astro.request);
---
<Base>
	{
		(session !== null && whistlistedEmails.includes(session?.user?.email)) ? (
			<Header />
			<section class="flex flex-auto">
				<aside class="flex">
					<Navigation />
				</aside>
				<article class="flex flex-auto main-article-pattern">
					<slot />
				</article>
			</section>
		) : (
			<Login />
		)
	}
</Base>