.background-pattern {
    background-color: #e5e5f7;
    background-image: radial-gradient(
        rgba(0, 0, 0, 0.8) 0.5px,
        rgba(229, 229, 247, 0.8) 0.5px
    );
    background-size: 10px 10px;
}