.markdown-body ul, ol { 
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.markdown-body ol { 
    list-style-type: decimal;
}

.markdown-body li { 
    display: list-item;
}

.markdown-body ul ul, ol ul {
    list-style-type: circle;
    margin-left: 15px; 
}

.markdown-body ol ol, ul ol { 
    list-style-type: lower-latin;
    margin-left: 15px; 
}